<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chatty.android"
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:name="com.chatty.android.ChattYApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chatty"
        tools:targetApi="33">
        <activity
            android:name="com.chatty.android.MainActivity"
            android:exported="true"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chatty.android.ChatActivity"
            android:label="@string/chat_activity_label"
            android:noHistory="false"
            android:theme="@style/Base.Theme.Chatty">
        </activity>
        <activity
            android:name="com.chatty.android.ConversationListActivity"
            android:noHistory="false"
            android:label="@string/chat_conversation_activity_label"
            android:theme="@style/Base.Theme.Chatty">
        </activity>
        <activity
            android:name="com.chatty.android.UsageActivity"
            android:noHistory="false"
            android:label="@string/chat_usage_activity_label"
            android:theme="@style/Base.Theme.Chatty">
        </activity>
    </application>

</manifest>